@mixin style-placeholder($color, $opacity) {
  &::-webkit-input-placeholder{
    @include base_placeholder_color($color, $opacity);
  }
  &::-moz-placeholder{
    @include base_placeholder_color($color, $opacity);
  }
  &:-moz-placeholder{
    @include base_placeholder_color($color, $opacity);
  }
  &:-ms-input-placeholder{
    @include base_placeholder_color($color, $opacity);
  }
}