<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="{{ globalVars.viewport }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="theme-color" content="{{ globalVars.themeColor }}">
    <link href="/web/img/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>{{ globalVars.title }}</title>
    {% block base_header %}{% endblock %}
    {{ topResources() }}
</head>
<body>
    {% block base_content %}{% endblock %}
    {{ bottomResources() }}
</body>

</html>