{% extends "layouts/html.html.twig" %}

{% block base_content %}
    <div class="Layout">
        <header class="Layout-Header">
            {% block region_header %}
                {{ page_regions.header|raw }}
            {% endblock %}
        </header>
        <main class="Layout-Main">
            <div class="content">
                {% block region_content %}
                    {{ page_regions.content|raw }}
                {% endblock %}
            </div>
        </main>
        <footer class="Layout-Footer">
            {% block region_footer %}
                {{ page_regions.footer|raw }}
            {% endblock %}
        </footer>
    </div>
    {% block region_endbody %}
        {{ page_regions.endbody }}
    {% endblock %}
{% endblock %}