.FormElement{
  display: block;
  &-Label{
    display: block;
  }
  &-Error{
    display: none;
    color: $formElementError;
  }
  &-Label{
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }
  &-Element{
    outline: none;
  }
  &-SubContainer{
    margin: 10px 0;
  }
  &-SubLabel{
    position: relative;
    font-size: 12px;
    line-height: 20px;
    padding-left: 30px;
    display: inline-block;
    cursor: pointer;
  }
  &-SubLabelInner{
    display: block;
  }
}
.FormElement_error{
  .FormElement-Error{
    display: block;
  }
}