{% set attributesWrapper = attributesWrapper|addClass(['FormElement']) %}

{% if themes is iterable and themes|length > 0 and formElementType is defined %}
    {% for theme in themes %}
        {% set attributesWrapper = attributesWrapper|addClass([
            'FormElement_'~theme~'_'~formElementType,
            'FormElement_'~theme
        ]) %}
    {% endfor %}
{% endif %}

{% if data.hasError %}
    {% set attributesWrapper = attributesWrapper|addClass(['FormElement_error']) %}
{% endif %}

<div {{ listAttributes(attributesWrapper) }}>
    <div class="FormElement-Container">
        {% if data.label %}
            {% set label %}
                {% set attrLabel = attrLabel|addClass(['FormElement-Label']) %}
                {% if attributes.id %}
                    {% set attrLabel = setProperty(attrLabel, ['for'], attributes.id) %}
                {% elseif data.label.for %}
                    {% set attrLabel = setProperty(attrLabel, ['for'], data.label.for) %}
                {% endif %}
                <label {{ listAttributes(attrLabel) }}>
                    {% block labelBefore %}{% endblock %}
                    {{ data.label.text }}
                </label>
            {% endset %}
            {% if not data.label.after %}
                {{ label }}
            {% endif %}
        {% endif %}
        {% block formElement %}{% endblock %}
        {% if data.label.after %}
            {{ label }}
        {% endif %}
    </div>
    <div class="FormElement-Error">
        {{ data.errorText }}
    </div>
    {% if data.description %}
        <div class="FormElement-Description">
            {{ data.description|raw }}
        </div>
    {% endif %}
</div>