{% set attributesWrapper = attributesWrapper|addClass('FormElement_element_radios') %}

{% set nameDefault = attributes.name is defined ? attributes.name : 'options_' ~ generateRandomString(8) %}

{% embed getThisPath(_self) ~ '/../wrapper/wrapper.html.twig' with {
    formElementType: 'radios'
} %}
    {% block formElement %}
        {% for radio in data.elements %}
            {% set attributesRadio = radio.attributes|addClass([
                'FormElement-Element'
            ]) %}
            {% if not attributesRadio.type is defined %}
                {% set attributesRadio = attributesRadio|addAttr({type: 'radio'}) %}
            {% endif %}
            {% set attributesRadio = attributesRadio|addAttr({
                name: (attributesRadio.name is defined ? attributesRadio.name : nameDefault)
            }) %}
            {% if not attributesRadio.id is defined %}
                {% set id = generateRandomString(8) %}
                {% set attributesRadio = attributesRadio|addAttr({id: id}) %}
            {% endif %}
            {% if radio.value %}
                {% set attributesRadio = attributesRadio|addAttr({value: radio.value}) %}
            {% endif %}
            {% if radio.checked %}
                {% set attributesRadio = attributesRadio|addAttr({checked: radio.checked}) %}
            {% endif %}
            {% if attributes.required %}
                {% set attributesRadio = attributesRadio|addAttr({required: 'true'}) %}
            {% endif %}
            <div class="FormElement-SubContainer">
                <input {{ listAttributes(attributesRadio) }}/>
                <label for="{{ attributesRadio.id }}" class="FormElement-SubLabel">
                    <span class="FormElement-ElementImitate"></span>
                    <span class="FormElement-SubLabelInner">{{ radio.label }}</span>
                </label>
            </div>
        {% endfor %}
    {% endblock %}
{% endembed %}
