.FormElement_element_radios{
  .FormElement-Element{
    display: none;
  }
  .FormElement-ElementImitate{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: inset 0 0 1px 1px #bbb;
    &:before{
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -4px 0 0 -4px;
      background: #bbb;
      border-radius: 50%;
      visibility: hidden;
    }
  }
  .FormElement-Element:checked{
    & + .FormElement-SubLabel{
      .FormElement-ElementImitate:before{
        visibility: visible;
      }
    }
  }
  .FormElement-Element:disabled{
    & + .FormElement-SubLabel{
      cursor: auto;
      opacity: .5;
    }
  }
}
.FormElement_element_radios.FormElement_error{
  .FormElement-Element{
    & + .FormElement-SubLabel{
      color: $formElementError;
      .FormElement-ElementImitate {
        box-shadow: inset 0 0 1px 1px $formElementError;
        &:before{
          background: $formElementError;
        }
      }
    }
  }
}
