{% set attributesWrapper = attributesWrapper|addClass('FormElement_element_textArea') %}

{% if not attributes.id is defined %}
    {% set id = generateRandomString(8) %}
    {% set attributes = attributes|addAttr({id: id}) %}
    {% set data = setProperty(data, ['label', 'for'], id) %}
{% endif %}

{% embed  getBeforePath(_self) ~ '/wrapper/wrapper.html.twig' with {
    formElementType: 'textArea'
} %}
    {% block formElement %}
        {% set attributes = attributes|addClass([
            'FormElement-Element'
        ]) %}
        {% if not attributes.type is defined %}
            {% set attributes = attributes|addAttr({type: 'text'}) %}
        {% endif %}
        <textarea {{ listAttributes(attributes) }}/></textarea>
        {% if data.hintText %}
            <div class="FormElement-HintText">
                {{ data.hintText }}
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}