{% macro img(url, attributes = {}) %}
    {% set attributes = attributes|addClass('lazyload') %}
    {% set attributes = attributes|addAttr({
        src: '/web/img/preload.gif',
        'data-srcset': url
    }) %}
    <img {{ listAttributes(attributes) }} />
{% endmacro %}

{% macro imgCustom(url, attributes = {}) %}
    {% set attributes = attributes|addClass('custom-lazy-img') %}
    {% set attributes = attributes|addAttr({
        src: '/web/img/preload.gif',
        'data-custom-img': url
    }) %}
    <img {{ listAttributes(attributes) }} />
{% endmacro %}

{% macro imgRetina(url, urlRetina,  attributes = {}) %}
    {% set attributes = attributes|addClass('lazyload') %}
    {% set attributes = attributes|addAttr({
        src: '/web/img/preload.gif',
        'data-srcset': url ~ ' 1x, ' ~ urlRetina ~ ' 2x'
    }) %}
    <img {{ listAttributes(attributes) }} />
{% endmacro %}

{% macro easyLink(text, attributes) %}
    {% if not attributes.href is defined %}
        {% set attributes = setProperty(attributes, ['href'], '#') %}
    {% endif %}
    <a {{ listAttributes(attributes) }}>{{ text|raw }}</a>
{% endmacro %}

{% macro easyLinkActive(text, active, attributes) %}
    {% if active %}
        {% set attributes = setProperty(attributes, ['class'], 'active', true) %}
    {% endif %}

    {{ _self.easyLink(text, attributes) }}
{% endmacro %}

{% macro svgUse(hrefSvg, id, role='img', title, attributes) %}

    {% set attributes = attributes|addAttr({
        role: role,
        xmlns: "http://www.w3.org/2000/svg"
    }) %}

    {% if not title is defined %}
        {% set attributes = setProperty(attributes, ['role'], title) %}
    {% endif %}

    <svg {{ listAttributes(attributes) }}>
        <use xlink:href="{{ hrefSvg }}#{{ id }}"/>
    </svg>
{% endmacro %}

{% macro inlineDelimiter() %}
    <span class="inlineDelimiter"> | </span>
{% endmacro %}