<h2>Hello, world! ;)</h2>

{{ formElement.input() }}
{{ formElement.input_test() }}
{{ formElement.radios() }}
{{ formElement.textArea() }}

{{ dump(getFromFilesData('/index.php'))  }}
{{ dump(getFromFilesData('/test.json')) }}
{{ dump(test) }}

{% set initJS %}
    <script>
        window.slidersInit.articles('#{{ id }}');
    </script>
{% endset %}

{{ addInlineJs(initJS) }}